body {
  background-color: #101010;
  animation-name: lightning;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes lightning {
  2% {background-color: #FFF;}
  3% {background-color: #101010;}
  4% {background-color: #FFF;}
  5% {background-color: #101010;}
  98% {background-color: #101010;}
}

h1 {
  font-family: 'Creepster', 'cursive';
  font-size: 70px;
  text-align: center;
  color: #8A0707;
  margin-top: 10%;
}

.lanterns {
  margin: 0 35%;
}

.ghost {
  position: absolute;
  left:0;
  top:0;
  height: 200px;
  width: 100px;
  animation-name: haunting;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes haunting {
  0%   {left:0; top:0;}
  25%  {left:80%; top:50%;}
  50%  {left:0%; top:80%;}
  75%  {left:100%; top:0;}
  100% {right:0; bottom:0;}
}
